body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #22343d;
}
body header {
  display: flex;
  padding: 20px 160px;
}
body header .header__logo {
  width: 40px;
  height: 36.36px;
  top: 19px;
  left: 146px;
}
body header .header__h3 {
  width: 122px;
  font-family: Poppins;
  font-size: 30px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0px;
  color: #ffffff;
  margin-top: 5px;
  margin-left: 40px;
}
body header .header__nav {
  display: flex;
  gap: 40px;
  margin-top: 10px;
  margin-left: 180px;
}
body header .header__link {
  text-decoration: none;
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
}
body header .header__link:hover {
  color: #02897a;
}
body header .header__btn {
  width: 132px;
  height: 43px;
  top: 19px;
  left: 964px;
  border-radius: 5px;
  border: 1px solid #fff;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: #fff;
  background: #1f2e35;
  margin-left: 25px;
}
body header .header__btn2 {
  width: 132px;
  height: 43px;
  top: 19px;
  left: 964px;
  border-radius: 5px;
  border: 0;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: #fff;
  background: #02897a;
  margin-left: 25px;
}
body header .header__img {
  width: 32px;
  height: 32px;
  top: 24px;
  left: 1224px;
  padding: 4px;
  border-radius: 100px;
  margin-left: 20px;
}
body header .header__img2 {
  display: none;
}
@media (max-width: 1300px) {
  body header {
    padding: 20px 20px;
  }
  body header .header__nav {
    margin-left: 20px;
  }
}
@media (max-width: 850px) {
  body header {
    padding: 20px 100px;
  }
  body header .header__nav {
    display: none;
  }
  body header .header__btn {
    display: none;
  }
  body header .header__btn2 {
    display: none;
  }
  body header .header__img {
    display: none;
  }
  body header .header__img2 {
    display: block;
    width: 25px;
    margin-left: 300px;
    margin-top: 0;
  }
}
@media (max-width: 411px) {
  body header {
    padding: 20px 40px;
  }
  body header .header__img2 {
    display: block;
    width: 25px;
    margin-left: 200px;
    margin-top: 0;
    margin-right: 40px;
  }
}
body .main {
  padding: 0 160px;
}
@media (max-width: 520px) {
  body .main .main {
    padding: 0 30px;
  }
}
@media (max-width: 600px) {
  body .main .main {
    padding: 0;
  }
}
body .main .pricing {
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-bottom: 100px;
}
body .main .pricing .pricing__h4 {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0px;
  color: #ffffff;
  margin-top: 50px;
}
body .main .pricing .pricing__h2 {
  font-family: Poppins;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0px;
  text-align: center;
  color: #ffffff;
}
body .main .pricing .pricing__p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: #ffffff;
}
@media (max-width: 720px) {
  body .main .pricing .pricing__h4 {
    font-size: 15px;
  }
  body .main .pricing .pricing__h2 {
    font-family: Poppins;
    font-weight: 200;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: center;
    color: #ffffff;
    font-size: 30px;
    height: 50px;
    width: 270px;
  }
  body .main .pricing .pricing__p {
    font-size: 10px;
  }
}
@media (max-width: 520px) {
  body .main .pricing .pricing__h4 {
    font-size: 15px;
    margin-left: 100px;
  }
  body .main .pricing .pricing__h2 {
    font-size: 20px;
    width: 180px;
    margin-left: 50px;
  }
  body .main .pricing .pricing__p {
    font-size: 10px;
    margin-left: 30px;
    width: 200px;
  }
}
body .main .pricing .pricing-father {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 100px;
  align-items: center;
  justify-content: start;
}
body .main .pricing .pricing-father .pricing-child {
  width: 300px;
  height: 456px;
  border-radius: 8px;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2509803922);
  background: #ffffff;
  text-align: center;
}
body .main .pricing .pricing-father .pricing-child2 {
  width: 300px;
  height: 456px;
  border-radius: 8px;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2509803922);
  background: #02897a;
  text-align: center;
}
body .main .pricing .pricing-father .pricing-child__h4 {
  width: 53px;
  height: 40px;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  color: #22343d;
  margin-left: 120px;
}
body .main .pricing .pricing-father .pricing-child__p {
  width: 174px;
  height: 40px;
  top: 72px;
  left: 73px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0px;
  text-align: left;
  color: #22343d;
  margin-left: 80px;
}
body .main .pricing .pricing-father .pricing-child__div {
  display: flex;
}
body .main .pricing .pricing-father .pricing-child__h3 {
  width: 50px;
  height: 100px;
  font-family: Poppins;
  font-size: 76px;
  font-weight: 700;
  color: #02897a;
  margin-top: 0;
  margin-left: 80px;
}
body .main .pricing .pricing-father .pricing-child_h3 {
  width: 50px;
  height: 100px;
  font-family: Poppins;
  font-size: 76px;
  font-weight: 700;
  color: #fff;
  margin-top: 0;
  margin-left: 80px;
}
body .main .pricing .pricing-father .pricing-child__dad .pricing-child_dad {
  margin-left: 30px;
}
body .main .pricing .pricing-father .pricing-child__dad .pricing-child_dad .pricing-child_p2 {
  width: 96px;
  height: 19px;
  top: 185px;
  left: 141px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: end;
  color: #afafaf;
  margin-top: -20px;
  margin-left: 100px;
}
body .main .pricing .pricing-father .pricing-child__dad h3 {
  margin-left: 0px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  color: #02897a;
}
body .main .pricing .pricing-father .pricing-child__dad .h3 {
  margin-left: 0px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  color: #fff;
}
body .main .pricing .pricing-father .pricing-child__dad .pricing-child__p2 {
  width: 96px;
  height: 19px;
  top: 185px;
  left: 141px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.1000000015px;
  text-align: left;
  color: #afafaf;
  margin-top: -20px;
}
body .main .pricing .pricing-father .pricing-long__p {
  width: 134px;
  height: 22px;
  top: 244px;
  left: 93px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
  color: #22343d;
  margin-left: 80px;
}
body .main .pricing .pricing-father .p {
  margin-top: -70px;
}
body .main .pricing .pricing-father .pricing__btn {
  width: 139px;
  height: 44px;
  top: 380px;
  left: 91px;
  padding: 11px, 19px, 11px, 18px;
  border-radius: 8px;
  border: 0;
  background: #02897a;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  margin-top: 20px;
}
body .main .pricing .pricing-father .pricing__btn2 {
  width: 139px;
  height: 44px;
  top: 380px;
  left: 91px;
  padding: 11px, 19px, 11px, 18px;
  border-radius: 8px;
  border: 0;
  color: #02897a;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  background: #ffffff;
  margin-top: 20px;
}
body .are {
  text-align: center;
  align-items: center;
  height: 700px;
}
body .are .are__h4 {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0px;
  color: #ffffff;
}
body .are .are__h3 {
  font-family: Poppins;
  font-size: 34px;
  font-weight: 700;
  line-height: 51px;
  letter-spacing: 0px;
  color: #ffffff;
}
body .are .are__p {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0px;
  color: #fff;
}
body .are .are__btn {
  padding: 11px 18px;
  border-radius: 8px;
  background: #02897a;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  color: #ffffff;
  margin-top: 30px;
}
@media (max-width: 650px) {
  body .are .are__h4 {
    font-size: 16px;
  }
  body .are .are__h3 {
    font-size: 28px;
  }
  body .are .are__p {
    font-size: 12px;
  }
  body .are .are__btn {
    font-size: 14px;
  }
}
@media (max-width: 560px) {
  body .are .are {
    padding: 50px 0px;
  }
  body .are .are .are__h4 {
    font-size: 10px;
  }
  body .are .are .are__h3 {
    font-size: 22px;
    line-height: 10px;
    font-weight: 100;
  }
  body .are .are .are__p {
    font-size: 12px;
  }
  body .are .are .are__btn {
    font-size: 10px;
  }
}
@media (max-width: 500px) {
  body .are .are {
    margin-left: 100px;
  }
  body .are .are__h4 {
    font-size: 8px;
  }
  body .are .are__h3 {
    font-size: 18px;
  }
  body .are .are__p {
    font-size: 6px;
  }
  body .are .are__btn {
    font-size: 9px;
  }
}
@media (max-width: 450px) {
  body .are {
    margin-left: 100px;
    text-align: center;
  }
  body .are .are__h4 {
    font-size: 8px;
  }
  body .are .are__h3 {
    font-size: 18px;
  }
  body .are .are__p {
    font-size: 6px;
  }
  body .are .are__btn {
    font-size: 9px;
  }
}
body .product {
  padding: 100px 160px;
  text-align: center;
  align-items: center;
}
body .product .product__h3 {
  font-family: Poppins;
  font-size: 34px;
  font-weight: 700;
  line-height: 51px;
  letter-spacing: 0px;
  color: #ffffff;
  margin-top: -400px;
}
body .product .product-father {
  display: flex;
  gap: 80px;
}
body .product .product__img {
  width: 508px;
  height: 392.34px;
}
body .product .product-child__dad {
  display: flex;
  gap: 15px;
}
body .product .product-child__img {
  width: 50px;
  height: 50px;
  padding: 13px 0;
  border-radius: 100px;
  color: #f4f5f7;
}
body .product .product-child__h4 {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  margin-top: 20px;
}
body .product .product-child__p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  margin-top: -10px;
}
@media (max-width: 1100px) {
  body .product .product {
    padding: 80px 50px;
  }
}
@media (max-width: 860px) {
  body .product .product {
    padding: 80px 120px;
  }
  body .product .product-father {
    flex-direction: column;
  }
}
@media (max-width: 720px) {
  body .product {
    padding: 50px;
  }
  body .product .product__h3 {
    padding-left: 100px;
  }
}
body .asked {
  padding: 0px 240px;
  justify-content: center;
}
body .asked .asked__h3 {
  font-family: Poppins;
  font-size: 34px;
  font-weight: 700;
  line-height: 51px;
  letter-spacing: 0px;
  text-align: center;
  color: #ffffff;
}
body .asked .asked__p {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: center;
  color: #ffffff;
}
body .asked .asked-cild {
  display: flex;
  gap: 10px;
  border-bottom: 1px solid #474747;
  margin-top: 15px;
}
body .asked .asked-cild__img {
  width: 24px;
  height: 24px;
  color: #02897a;
}
body .asked .asked-cild__p {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: left;
  color: #ffffff;
  margin-top: 0;
}
body .asked .asked-child__long {
  width: 870px;
  height: 137px;
  top: 2308px;
  left: 240px;
  border-bottom: 1px solid #474747;
  margin-top: 15px;
}
body .asked .asked-cild__long {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #ffffff;
}
@media (max-width: 720px) {
  body .asked {
    padding: 50px;
  }
  body .asked .asked__h3 {
    font-size: 26px;
  }
  body .asked .asked__p {
    font-size: 13px;
  }
}
body .get {
  padding: 50px 160px;
  justify-content: start;
}
body .get .get-father {
  display: flex;
  justify-content: space-between;
  border-radius: 32px;
  background: #02897a;
}
body .get .get-child {
  margin-top: 20px;
  margin-left: 50px;
}
body .get .get-child .get__h3 {
  font-family: Poppins;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}
body .get .get-child .get__btn {
  width: 150px;
  height: 50px;
  top: 239px;
  left: 51px;
  padding: 10px, 35px, 10px, 33px;
  border-radius: 8px;
  background: #ffffff;
  border: 0;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  color: #22343d;
  margin-top: 50px;
}
body .get .get-child .get__img {
  width: 351px;
  height: 331px;
  border-radius: 5px;
  box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.1490196078);
}
@media (max-width: 1300px) {
  body .get {
    padding: 50px 100px;
  }
}
@media (max-width: 1300px) {
  body .get {
    padding: 50px 50px;
  }
}
@media (max-width: 1000px) {
  body .get {
    padding: 50px 50px;
  }
  body .get .get-father {
    flex-direction: column;
    text-align: center;
  }
  body .get .get__h3 {
    text-align: center;
  }
}
@media (max-width: 610px) {
  body .get {
    justify-content: center;
  }
}
body .footer {
  padding: 50px 160px;
  justify-content: center;
}
body .footer .footer-father {
  display: flex;
  justify-content: space-between;
  color: #fff;
}
body .footer .footer-child {
  display: flex;
  gap: 16px;
  margin-top: 25px;
}
body .footer .footer__h4 {
  margin-top: 10px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0px;
}
body .footer .footer__p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0px;
}
body .footer .footer-long__p {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0px;
  width: 230px;
  height: 57px;
  margin-top: 10px;
}
body .footer .footer__input {
  width: 225px;
  height: 30px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2509803922);
  border-radius: 5px;
  border: 0;
  padding: 10px 20px;
}
body .footer .footer__btn {
  width: 131px;
  height: 39px;
  top: 160px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  background: #02897a;
  border: 0;
  border-radius: 5px;
  color: #fff;
  margin-top: 20px;
}
body .footer .footer-end {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: center;
  color: #ffffff;
  margin-top: 40px;
}
@media (max-width: 880px) {
  body .footer {
    padding: 50px;
  }
}
@media (max-width: 720px) {
  body .footer .footer-father {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  body .footer p {
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}/*# sourceMappingURL=style.css.map */